{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Elasticsearch plugin for Craft CMS 3.x
 *
 * Elasticsearch Settings.twig
 *
 * @author    Alban Jubert
 * @copyright Copyright (c) 2018 Alban Jubert
 * @link      https://www.lahautesociete.com
 * @package   Elasticsearch
 * @since     1.0.0
 */
#}

{% do view.registerAssetBundle("lhs\\elasticsearch\\resources\\CpAssetBundle") %}
{% import "_includes/forms" as forms %}

<div class="elastic-branding-container">
    <h2>{{ 'Elasticsearch connection'|t('elasticsearch') }}</h2>
    {% if settings.hasErrors('global') %}
        {% include "_includes/forms/errorList" with { errors: settings.getErrors('global') } %}
    {% endif %}

    {{ forms.textField({
        first:        true,
        label:        'Elasticsearch endpoint URL'|t('elasticsearch'),
        instructions: 'The URL of the Elasticsearch instance (ie. elastic.example.com:9200)'|t('elasticsearch'),
        placeholder:  'elastic.example.com:9200',
        id:           'elasticsearchEndpoint',
        name:         'elasticsearchEndpoint',
        value:        settings['elasticsearchEndpoint'],
        errors:       settings.getErrors('elasticsearchEndpoint'),
    }) }}

    {{ forms.lightswitchField({
        label:  'Authentication required'|t('elasticsearch'),
        id:     'isAuthEnabled',
        name:   'isAuthEnabled',
        on:     settings['isAuthEnabled'],
        toggle: 'auth_settings',
    }) }}

    <div id="auth_settings"{% if not settings['isAuthEnabled'] %} class="hidden" {% endif %}>
        {{ forms.textField({
            label:    'Username'|t('elasticsearch'),
            id:       'username',
            name:     'username',
            value:    settings['username'],
            errors:   settings.getErrors('username'),
        }) }}

        {{ forms.passwordField({
            label:    'Password'|t('elasticsearch'),
            id:       'password',
            name:     'password',
            value:    settings['password'],
            errors:   settings.getErrors('password'),
        }) }}
    </div>

    <hr>

    <h2>{{ 'Search term highlight'|t('elasticsearch') }}</h2>
    <p>{{ 'HTML tags used to wrap the search term in order to highlight it in  the search results'|t('elasticsearch') }}</p>
    {{ forms.textField({
        label:  'Before'|t('elasticsearch'),
        id:     'highlight_pre_tags',
        name:   'highlight[pre_tags]',
        value:  settings['highlight']['pre_tags'],
        errors: settings.getErrors('highlight_pre_tags'),
    }) }}

    {{ forms.textField({
        label:  'After'|t('elasticsearch'),
        id:     'highlight_post_tags',
        name:   'highlight[post_tags]',
        value:  settings['highlight']['post_tags'],
        errors: settings.getErrors('highlight_post_tags'),
    }) }}

    <hr>

    <h2>{{ 'Blacklisted sections'|t('elasticsearch') }}</h2>
    <p>{{ 'Never index entries in the folowing sections:'|t('elasticsearch') }}</p>
    {% for site in craft.app.sites.getAllSites() %}
        {{ forms.checkboxSelectField({
            label:   site.name,
            name:    "blacklistedSections[#{site.id}]",
            options: sections,
            values:  settings['blacklistedSections'][site.id],
        }) }}
    {% endfor %}

    {% include 'elasticsearch/components/elastic-branding' %}
</div>
