{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Elasticsearch plugin for Craft CMS 3.x
 *
 * Bring the power of Elasticsearch to you Craft 3 CMS project
 *
 * @link      https://www.lahautesociete.com
 * @copyright Copyright (c) 2018 La Haute Société
 */
#}

{% do view.registerAssetBundle("lhs\\elasticsearch\\resources\\CpAssetBundle") %}
{% import "_includes/forms" as forms %}
{% import "elasticsearch/cp/macros" as macros %}
<style>
    table.editable tbody tr td {
        text-align: left;
    }

    .fieldlayoutform {
        text-transform: none;
    }

    .fieldlayoutform h2 {
        text-transform: uppercase;
    }
</style>
<div class="elastic-branding-container">
    <h2>{{ 'Elasticsearch connection'|t('elasticsearch') }}</h2>

    {% if settings['elasticsearchComponentConfig'] is not null %}
        <p class="warning with-icon">{{ 'These settings will be ignored since <code>elasticsearchComponentConfig</code> is present in the configuration file.'|t('elasticsearch')|raw }}</p>
    {% endif %}

    {% if settings.hasErrors('global') %}
        {% include "_includes/forms/errorList" with { errors: settings.getErrors('global') } %}
    {% endif %}

    {{ forms.textField({
        first:        true,
        label:        'Elasticsearch endpoint URL'|t('elasticsearch'),
        instructions: 'The URL of the Elasticsearch instance (ie. elastic.example.com:9200)'|t('elasticsearch'),
        placeholder:  'elastic.example.com:9200',
        id:           'elasticsearchEndpoint',
        name:         'elasticsearchEndpoint',
        value:        settings['elasticsearchEndpoint'],
        errors:       settings.getErrors('elasticsearchEndpoint'),
        warning:      'elasticsearchEndpoint' in overrides ? macros.configWarning('elasticsearchEndpoint'),
        disabled:     'elasticsearchEndpoint' in overrides or 'elasticsearchComponentConfig' in overrides,
    }) }}

    {{ forms.lightswitchField({
        label:    'Authentication required'|t('elasticsearch'),
        id:       'isAuthEnabled',
        name:     'isAuthEnabled',
        on:       settings['isAuthEnabled'],
        toggle:   'auth_settings',
        warning:  'isAuthEnabled' in overrides ? macros.configWarning('isAuthEnabled'),
        disabled: 'isAuthEnabled' in overrides or 'elasticsearchComponentConfig' in overrides,
    }) }}

    <div id="auth_settings"{% if not settings['isAuthEnabled'] %} class="hidden" {% endif %}>
        {{ forms.textField({
            label:    'Username'|t('elasticsearch'),
            id:       'username',
            name:     'username',
            value:    settings['username'],
            errors:   settings.getErrors('username'),
            warning:  'username' in overrides ? macros.configWarning('username'),
            disabled: 'username' in overrides or 'elasticsearchComponentConfig' in overrides,
        }) }}

        {{ forms.passwordField({
            label:    'Password'|t('elasticsearch'),
            id:       'password',
            name:     'password',
            value:    settings['password'],
            errors:   settings.getErrors('password'),
            warning:  'password' in overrides ? macros.configWarning('password'),
            disabled: 'password' in overrides or 'elasticsearchComponentConfig' in overrides,
        }) }}
    </div>

    <hr>

    <h2>{{ 'Elasticsearch indices naming'|t }}</h2>
    {{ forms.textField({
        label:    'Index name prefix'|t('elasticsearch'),
        id:       'indexNamePrefix',
        name:     'indexNamePrefix',
        value:    settings['indexNamePrefix'],
        errors:   settings.getErrors('indexNamePrefix'),
        warning:  'indexNamePrefix' in overrides ? macros.configWarning('indexNamePrefix'),
        disabled: 'indexNamePrefix' in overrides,
    }) }}

    <hr>

    <h2>{{ 'Search term highlight'|t('elasticsearch') }}</h2>
    <p>{{ 'HTML tags used to wrap the search term in order to highlight it in  the search results'|t('elasticsearch') }}</p>
    {{ forms.textField({
        label:    'Before'|t('elasticsearch'),
        id:       'highlight_pre_tags',
        name:     'highlight[pre_tags]',
        value:    settings['highlight']['pre_tags'],
        errors:   settings.getErrors('highlight_pre_tags'),
        warning:  'highlight' in overrides ? macros.configWarning('highlight'),
        disabled: 'highlight' in overrides,
    }) }}

    {{ forms.textField({
        label:    'After'|t('elasticsearch'),
        id:       'highlight_post_tags',
        name:     'highlight[post_tags]',
        value:    settings['highlight']['post_tags'],
        errors:   settings.getErrors('highlight_post_tags'),
        warning:  'highlight' in overrides ? macros.configWarning('highlight'),
        disabled: 'highlight' in overrides,
    }) }}

    <hr>

    <h2>{{ 'Blacklisted entry types'|t('elasticsearch') }}</h2>
    {% if 'blacklistedEntryTypes' in overrides %}
        <p class="warning with-icon">{{ macros.configWarning('blacklistedEntryTypes') }}</p>
    {% endif %}
    <p class="light">{{ 'Never index:'|t('elasticsearch') }}</p>
    <div class="field">
        <table id="entryTypes" class="shadow-box editable">
            <thead>
            <tr>
                <th scope="col" class="thin">{{ 'Type'|t('elasticsearch') }}</th>
                <th scope="col">{{ 'Section'|t('elasticsearch') }}</th>
                <th scope="col">{{ 'Entry Type'|t('elasticsearch') }}</th>
                <th scope="col" class="thin"></th>
            </tr>
            </thead>
            <tbody>
            {% for section in craft.app.sections.allSections %}
                {% for entryType in section.entryTypes %}
                    <tr data-id="default">
                        <th>{{ section.type|ucfirst }}</th>
                        <td>{{ section.name }}</td>
                        <td>{{ entryType.name }}</td>
                        <td>
                            {{ forms.lightswitch({
                                name:  "blacklistedEntryTypes[]",
                                value: entryType.handle,
                                on:    entryType.handle in settings['blacklistedEntryTypes'],
                                small: true,
                            }) }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <h2>{{ 'Blacklisted asset volumes'|t('elasticsearch') }}</h2>
    {% if 'blacklistedAssetVolumes' in overrides %}
        <p class="warning with-icon">{{ macros.configWarning('blacklistedAssetVolumes') }}</p>
    {% endif %}

    <p class="light">{{ 'Never index:'|t('elasticsearch') }}</p>
    <div class="field">
        <table id="volumes" class="shadow-box editable">
            <thead>
            <tr>
                <th scope="col" class="thin">{{ 'Handle'|t('elasticsearch') }}</th>
                <th scope="col">{{ 'Name'|t('elasticsearch') }}</th>
                <th scope="col" class="thin"></th>
            </tr>
            </thead>
            <tbody>
            {% for volume in craft.app.volumes.getAllVolumes() %}
                <tr data-id="default">
                    <th><code>{{ volume.handle }}</code></th>
                    <td>{{ volume.name }}</td>
                    <td>
                        {{ forms.lightswitch({
                            name:  "blacklistedAssetVolumes[]",
                            value: volume.handle,
                            on:    volume.handle in settings['blacklistedAssetVolumes'],
                            small: true,
                            disabled: 'blacklistedAssetVolumes' in overrides,
                        }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% include 'elasticsearch/components/elastic-branding' %}
</div>
