{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Elasticsearch plugin for Craft CMS 3.x
 *
 * Bring the power of Elasticsearch to you Craft 3 CMS project
 *
 * @link      https://www.lahautesociete.com
 * @copyright Copyright (c) 2018 La Haute Société
 */
#}

{% import "_includes/forms" as forms %}

<div class="elastic-branding-container">
    {% if not isConnected %}
        <p class="error">
            <strong>{{ notConnectedWarningMessage|raw }}</strong>
        </p>
    {% elseif not inSync %}
        <p class="error">
            <strong>{{ 'Elasticsearch index is out of sync!'|t('elasticsearch') }}</strong>
        </p>
    {% endif %}

    <form
            id="elasticsearch-utility"
            class="utility"
            action="{{ actionUrl('elasticsearch/cp/reindex-perform-action') }}"
            method="post"
            accept-charset="UTF-8"
    >
        {{ csrfInput() }}

        <h2>{{ 'Sites'|t('elasticsearch') }}</h2>
        {{ forms.checkboxSelect({
            name: 'sites',
            options: sites,
            showAllOption: true,
            values: '*',
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit"
                   value="{{ 'Reindex selected'|t('elasticsearch') }}"/>
            <div class="utility-status"></div>
        </div>
    </form>

    {% include 'elasticsearch/components/elastic-branding' %}
</div>
